<section class="part sticky-image" name="story">
  {{#image}}
  <div class="bg-image"
      {{#srcmain}}
        data-src="{{srcmain}}"
      {{/srcmain}}
      {{#srcmedium}}
        data-srcMedium="{{srcmedium}}"
      {{/srcmedium}}
      {{#srcphone}}
        data-srcPhone="{{srcphone}}"
      {{/srcphone}}
      >
  </div>
  {{/image}}
  <div class="content container-fluid">
    <div class="row">
      <div class="col-sm-12 header-fullpage">
        <div class="middle">
        {{#title}}
          <h1>{{title}}</h1>
        {{/title}}
        {{#subtitle}}
          <h2>{{subtitle}}</h2>
        {{/subtitle}}
        </div>
      </div>
    </div>
    {{#text}}
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 text">
        {{{text}}}
      </div>
    </div>
    {{/text}}
  </div>
  <div class="background_gradient"></div>
</section>
