<section class="part parallax" name="story{{@index}}">
  {{#image}}
  <div class="bg-image"
      {{#srcmain}}
        data-src="{{srcmain}}"
      {{/srcmain}}
      {{#srcmedium}}
        data-srcMedium="{{srcmedium}}"
      {{/srcmedium}}
      {{#srcphone}}
        data-srcPhone="{{srcphone}}"
      {{/srcphone}}
      >
  </div>
  {{/image}}

  {{#title}}
  <div class="content container">
    <div class="row">
      <div class="col-sm-12 header-fullpage">
        <h1>{{title}}</h1>
      </div>
    </div>
  </div>
  {{/title}}

</section>
