<script>
  if(galleryLinksContainer===undefined){
    var galleryLinksContainer = [];
  }
</script>

<section class="part slideshow-horizontal snap" name="story{{id}}">
  <div class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls">
    <div class="slides"></div>
    <a class="prev">&lsaquo;</a>
    <a class="next">&rsaquo;</a>
    <div class="slide-caption"></div>
  </div>
</section>

<script>
  var galleryLinks = [];
  var i = 0;

  {{#images}}
  galleryLinks.push({
    title: '{{title}}',
    photographer: '{{credits}}',
    href: '{{src}}',
    original_id: i,
    type: '{{type}}'
  });
  i++;
  console.log('{{{src}}}');
  {{/images}}

  galleryLinksContainer.push(galleryLinks);

</script>
