<section class="part slideshow" name="story{{@index}}">
{{#images}}
  <div class="bg-image"
      {{#srcmain}}
         data-src='{{srcmain}}'
       {{/srcmain}}
       {{#srcmedium}}
         data-srcMedium='{{srcmedium}}'
       {{/srcmedium}}
       {{#srcphone}}
         data-srcPhone='{{srcphone}}'
       {{/srcphone}}
       >
    <div class="caption">
      {{#title}}
        {{title}}
      {{/title}}
      {{#credits}}
        <span>{{credits}}</span>
      {{/credits}}
    </div>
  </div>
{{/images}}

</section>
