{{#meta.share}}
<div class="social-buttons">
  {{#meta.facebook}}
  <div class='fb-share-button' {{#meta}}{{#src}}data-href='{{src}}'{{/src}}{{/meta}} data-layout='button'></div>
  {{/meta.facebook}}
  {{#meta.twitter}}
    <a href="https://twitter.com/share" class="twitter-share-button" {{#meta}}{{#src}}data-url="{{src}}"{{/src}}{{/meta}} {{#meta}}{{#site_name}}data-via="{{site_name}}"{{/site_name}}{{/meta}} data-count="none">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  {{/meta.twitter}}
</div>
{{/meta.share}}
