<p>content container-fluid</p>
<div class="content container-fluid">

  {{#title}}
    <div class="row">
  {{/title}}
  {{#subtitle}}
    <div class="row">
  {{/subtitle}}

  {{#format}}
    {{#fullpage}}
    <div class="col-sm-12 header-fullpage">
      <div class="middle">
    {{/fullpage}}
  {{/format}}

  {{#title}}
    <h1>{{title}}</h1>
  {{/title}}

  {{#subtitle}}
    <h2>{{subtitle}}</h2>
  {{/subtitle}}

  {{#format}}
    {{#fullpage}}
      </div>
    </div>
    {{/fullpage}}
  {{/format}}

  {{#title}}
    </div>
  {{/title}}
  {{#subtitle}}
    </div>
  {{/subtitle}}

  {{#text}}
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 text">
        {{text}}
      </div>
    </div>
  {{/text}}

  {{> snippets}}

</div>

{{#text}}
<div class="background_gradient"></div>
{{/text}}
