<section class="no-effects part text_align-center
                {{#light}}
                  reverse_colors
                {{/light}}"
                 name="story{{id}}">
      <div class="content container-fluid">
        <div class="row">
          <div class="col-sm-12 header">
            {{#title}}
            <h1>{{title}}</h1>
            {{/title}}
            {{#subtitle}}
            <h2>{{subtitle}}</h2>
            {{/subtitle}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 text">
            {{#intro}}
              {{{intro}}}
            {{/intro}}
            {{#snippets}}
              {{#src}}
              <figure class="cms-image {{align}}" style="max-width: 360px;">
                <img src="{{src}}" style="max-width: 100%" rel="resizable" alt="{{alt}}" />
                <figcaption>{{title}}
                   <span class="photographer">
                     {{{credits}}}
                   </span>
                </figcaption>
              </figure>
              {{/src}}
              {{{text}}}
            {{/snippets}}
          </div>
        </div>
      </div>
    </div>
    <div class="background_gradient"></div>
</section>
