<section class="st-video part inview" name="story{{id}}">
  <div class="video-container"
       data-loop="loop"
       data-preload="none"
       {{#image}}
         data-poster="{{loading}}"
       {{/image}}
       >
       {{> partials/subvideosource}}
  </div>

  <div class="content container-fluid">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6{{#backgroundprops}} background-color:rgba({{value}},{{opacity}}){{/backgroundprops}}">
      <div class="row">
        <div class="{{#format}}{{#fullpage}}header-fullpage{{/fullpage}}{{/format}}">
          <div class="middle">
            {{#title}}
              <h1>{{title}}</h1>
            {{/title}}
            {{#subtitle}}
              <h2>{{subtitle}}</h2>
            {{/subtitle}}
          </div>
        </div>
      </div>
      {{#text}}
      <div class="row">
        <div class="text">
          {{{text}}}
        </div>
      </div>
      {{/text}}
    </div>
  </div>

</section>
