<div>
  <label for="bg-active">Active</label>
  <input id="bg-active" name="bg-active" type="checkbox" {{#backgroundprops}}{{#active}} checked="checked"{{/active}}{{/backgroundprops}} />
</div>
<div>
  <label for="bg-colour">Colour (R, G, B)</label>
  <input name="bg-colour" class="form-control" data-for="bg-colour" id="bgColour" type="text" placeholder="eg: 255, 0, 0"{{#backgroundprops}} value="{{value}}"{{/backgroundprops}}></input>
</div>
<div>
  <label for="bg-opacity">Opacity Level (0 — 1)</label>
  <input name="bg-opacity" class="form-control" data-for="bg-opacity" id="bgOpacity" type="text" placeholder="eg: 0.5"{{#backgroundprops}} value="{{opacity}}"{{/backgroundprops}}></input>
</div>
