<div class="navbar navbar-default">
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-target="#">
          {{#meta}}{{title}}{{/meta}}{{^meta}}Storyteller{{/meta}} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          {{#meta}}
            <li>
              <a href="/editor/page/meta" data-type="meta" class="js-NavLink">Meta</a>
            </li>
          {{/meta}}
          {{#items}}
            {{#imagebackground}}
              <li>
                <a href="/editor/page/imagebackground" data-id="{{id}}" data-type="imagebackground" class="js-NavLink">{{#title}}{{title}}{{/title}}{{^title}}Image Background {{id}}{{/title}}</a>
              </li>
            {{/imagebackground}}
            {{#slideshowhorizontal}}
              <li>
                <a href="/editor/page/slideshowhorizontal" data-id="{{id}}" data-type="slideshowhorizontal" class="js-NavLink">{{#title}}{{title}}{{/title}}{{^title}}Slideshow (Horizontal) {{id}}{{/title}}</a>
              </li>
            {{/slideshowhorizontal}}
            {{#textcentred}}
              <li>
                <a href="/editor/page/textcentred" data-id="{{id}}" data-type="textcentred" class="js-NavLink">{{#title}}{{title}}{{/title}}{{^title}}Text Centred {{id}}{{/title}}</a>
              </li>
            {{/textcentred}}
            {{#videobackground}}
              <li>
                <a href="/editor/page/videobackground" data-id="{{id}}" data-type="videobackground" class="js-NavLink">{{#title}}{{title}}{{/title}}{{^title}}Video Background {{id}}{{/title}}</a>
              </li>
            {{/videobackground}}
            {{#videofullpage}}
              <li>
                <a href="/editor/page/videofullpage" data-id="{{id}}" data-type="videofullpage" class="js-NavLink">{{#title}}{{title}}{{/title}}{{^title}}Video Fullpage {{id}}{{/title}}</a>
              </li>
            {{/videofullpage}}
          {{/items}}
        </ul>
      </li>
    </ul>
  </div>
</div>
