<script>
  $('.gradient').each(function(){
    $(this).change(function(){
      $('.gradient').prop('checked', false);
      $(this).prop('checked', true);
    });
  });
  var isChecked = false;
  $('.gradient').each(function(){
    if ($(this).prop('checked') === true) {
      isChecked = true;
    }
  });
  if (!isChecked) {
    $('.gradient[name="gradient-top"]').prop('checked', true);
  }
</script>

<fieldset>
  <legend>Direction</legend>
  <div>
    <label for="gradientTop">Top</label>
    <input id="gradientTop" class="gradient" name="gradient-top" type="radio" {{#gradient}}{{#top}} checked="checked"{{/top}}{{/gradient}} />
  </div>
  <div>
    <label for="gradientTopRight">Top-Right</label>
    <input id="gradientTopRight" class="gradient" name="gradient-top-right" type="radio" {{#gradient}}{{#topright}} checked="checked"{{/topright}}{{/gradient}} />
  </div>
  <div>
    <label for="gradientRight">Right</label>
    <input id="gradientRight" class="gradient" name="gradient-right" type="radio" {{#gradient}}{{#right}} checked="checked"{{/right}}{{/gradient}} />
  </div>
  <div>
    <label for="gradientBottomRight">Bottom-Right</label>
    <input id="gradientBottomRight" class="gradient" name="gradient-bottom-right" type="radio" {{#gradient}}{{#bottomright}} checked="checked"{{/bottomright}}{{/gradient}} />
  </div>
  <div>
    <label for="gradientBottom">Bottom</label>
    <input id="gradientBottom" class="gradient" name="gradient-bottom" type="radio" {{#gradient}}{{#bottom}} checked="checked"{{/bottom}}{{/gradient}} />
  </div>
  <div>
    <label for="gradientBottomLeft">Bottom-Left</label>
    <input id="gradientBottomLeft" class="gradient" name="gradient-bottom-left" type="radio" {{#gradient}}{{#bottomleft}} checked="checked"{{/bottomleft}}{{/gradient}} />
  </div>
  <div>
    <label for="gradientLeft">Left</label>
    <input id="gradientLeft" class="gradient" name="gradient-left" type="radio" {{#gradient}}{{#left}} checked="checked"{{/left}}{{/gradient}} />
  </div>
  <div>
    <label for="gradientTopLeft">Top-Left</label>
    <input id="gradientTopLeft" class="gradient" name="gradient-top-left" type="radio" {{#gradient}}{{#topleft}} checked="checked"{{/topleft}}{{/gradient}} />
  </div>
</fieldset>
