<fieldset>
  <legend>Animate</legend>
  <div>
    <label for="gradientEnable">Enable Gradient</label>
    <input id="gradientEnable" class="gradientenable" name="gradientEnable" type="checkbox" {{#gradient.enable}}checked="checked"{{/gradient.enable}} />
  </div>
  <div>
    <label for="gradientAnimate">Enable Gradient Animation</label>
    <input id="gradientAnimate" class="gradientanimate" name="gradientAnimate" type="checkbox" {{#gradient.animate}}checked="checked"{{/gradient.animate}} />
  </div>
</fieldset>

<fieldset>
  <legend>Stops</legend>
  <div>
    <label>Colour</label>
    <div class="js-ContentDynamic">
    {{#gradient}}
    {{#stops}}
      <div>
        <input class="stop" name="stop" type="text" placeholder="{{.}}" value="{{.}}" />
      </div>
    {{/stops}}
    {{^stops}}
      <div>
        <input class="stop" name="stop" type="text" placeholder="#a3e0bb" />
      </div>
      <div>
        <input class="stop" name="stop" type="text" placeholder="#fcd700" />
      </div>
      <div>
        <input class="stop" name="stop" type="text" placeholder="#ff0000" />
      </div>
    {{/stops}}
    {{/gradient}}
    </div>
    <button type="button" class="js-AddStop btn btn-success pull-right">Add Stop [+]</button>
  </div>
</fieldset>
