<div>
  <fieldset class="js-ImageSources">
    <legend>Image Sources</legend>
    <div>
      <label for="scrphone">Small Image</label>
      <img id='srcphone-preview' data-src="{{srcphone}}" class='img-preview-thumb' />
      <input name="srcphone" class="form-control src-input" data-for="srcphone" id="srcphone" type="text" value="{{srcphone}}" placeholder="No small image source"/>
      <input data-for="srcphone" class="fileupload-input" type="file" name="files[]">
    </div>
    <div class="form-group">
      <label for="scrmedium">Medium Image</label>
      <img id='srcmedium-preview' data-src="{{srcmedium}}" class='img-preview-thumb' />
      <input name="srcmedium" class="form-control src-input" data-for="srcmedium" id="srcmedium" type="text" value="{{srcmedium}}" placeholder="No medium image source"/>
      <input data-for="srcmedium" class="fileupload-input" type="file" name="files[]">
    </div>
    <div class="form-group">
      <label for="scrmain">Large Image</label>
      <img id='srcmain-preview' data-src="{{srcmain}}" class='img-preview-thumb' />
      <input name="srcmain" class="form-control src-input" data-for="srcmain" id="srcmain" type="text" value="{{srcmain}}" placeholder="No main image source"/>
      <input data-for="srcmain" class="fileupload-input" type="file" name="files[]">
    </div>
  </fieldset>
</div>

<script type="text/javascript">
  (function() {
    const phone = document.getElementById('srcphone-preview');
    const medium = document.getElementById('srcmedium-preview');
    const main = document.getElementById('srcmain-preview');

    [phone, medium, main].forEach((media) => {
        const file = media.dataset.src;
        if (/^uploads\//.test(file)) {
            media.src = `/${file}`;
        } else {
            media.src = file;
        }
    });
  })();
</script>
