<div>
  <fieldset class="js-ImageSources">
    <legend>Image Sources</legend>
    <div>
      <label for="scrphone">Small Image</label>
      <input name="srcphone" data-name="srcphone" id="srcphone" type="text" {{#srcphone}}value="{{srcphone}}" {{/srcphone}}placeholder="No small image source"/>
    </div>
    <div class="form-group">
      <label for="scrmedium">Medium Image</label>
      <input name="srcmedium" data-name="srcmedium" id="srcmedium" type="text" {{#srcmedium}}value="{{srcmedium}}" {{/srcmedium}}placeholder="No medium image source"/>
    </div>
    <div class="form-group">
      <label for="scrmain">Large Image</label>
      <input name="srcmain" data-name="srcmain" id="srcmain" type="text"{{#srcmain}}value="{{srcmain}}" {{/srcmain}}placeholder="No main image source"/>
    </div>
  </fieldset>
</div>
