<div class="form-group">
  <fieldset>
    <legend>Image Sources</legend>
    <div class="form-group">
      <label for="scrSmall" class="control-label">Small Image</label>
      <input id="srcSmall" type="text" class="form-control" value="" />
    </div>
    <div class="form-group">
      <label for="scrMedium" class="control-label">Medium Image</label>
      <input id="srcMedium" type="text" class="form-control" value="" />
    </div>
    <div class="form-group">
      <label for="scrLarge" class="control-label">Large Image</label>
      <input id="srcLarge" type="text" class="form-control" value="" />
    </div>
  </fieldset>
</div>
