<div class="form-group">
  <label class="control-label" for="intro-area">Intro</label>
  <textarea id="intro-area" name="intro" class="form-control js-RichText" placeholder="No intro">{{{intro}}}</textarea>
</div>

<script>
$('#intro-area').summernote({
  toolbar: [
    ['style', ['bold', 'italic', 'underline', 'clear']],
    ['font', ['strikethrough', 'superscript', 'subscript']],
    ['fontsize', ['fontsize']],
    ['color', ['color']],
    ['para', ['style', 'ul', 'ol', 'paragraph']],
    ['height', ['height']],
    ['tools', ['link', 'hr', 'codeview', 'undo', 'redo']]
  ]
});
</script>
