<div>
  <label for="loading">Src</label>
  <img id='loading-preview' data-src="{{image.loading}}" class='img-preview-thumb' />
  <input id='loading' name="loading" class="form-control src-input" data-for="loading" type="text" value="{{image.loading}}" placeholder="No poster image" />
  <input data-for="loading" class="fileupload-input" type="file" name="files[]">
</div>

<script type="text/javascript">
    (function() {
        const preview = document.getElementById('loading-preview');

        [preview].forEach((media) => {
            const file = media.dataset.src;
            if (/^uploads\//.test(file)) {
                media.src = `/${file}`;
            } else {
                media.src = file;
            }
        });
    })();
</script>
