<script>
  $('#offset_value').text(Math.round($('#offsetValue').val()) + 100);
  $('#offsetValue').change(function(){
    $('#offset_value').text(Math.round($(this).val()) + 100);
    $('.offset').prop('checked', false);
    $('#offsetCustom').prop('checked', true);
  });
  $('.offset').each(function(){
    $(this).change(function(){
      $('.offset').prop('checked', false);
      $(this).prop('checked', true);
    });
  });
</script>
<div>
  <label for="offsetLeft">Left</label>
  <input id="offsetLeft" class="offset" name="offset-left" type="radio" {{#offset}}{{#left}} checked="checked"{{/left}}{{/offset}} />
</div>
<div>
  <label for="offsetCentre">Center</label>
  <input id="offsetCentre" class="offset" name="offset-centre" type="radio" {{#offset}}{{#centre}} checked="checked"{{/centre}}{{/offset}} />
</div>
<div>
  <label for="offsetRight">Right</label>
  <input id="offsetRight" class="offset" name="offset-right" type="radio" {{#offset}}{{#right}} checked="checked"{{/right}}{{/offset}} />
</div>
<div>
  <label for="offsetCustom">Custom Offset</label>
  <input id="offsetCustom" class="offset" name="offset-custom" type="radio" {{#offset}}{{#custom}} checked="checked"{{/custom}}{{/offset}} />
</div>
<div>
  <label for="offset-value">Offset Value: <span id="offset_value">0</span>%</label>
  <input type="range" min="-100" max="0" {{#offset}} value="{{value}}"{{/offset}} step="1" data-for="offsetValue" id="offsetValue" name="offset-value" />
</div>
