<fieldset class="js-Slide js-Dynamic">

  <legend>Slide</legend>

  <a href="#" class="js-Remove">Remove</a>

  <div class="form-group">
    <label class="control-label">Title</label>
    <input name="images[{{index}}][title]" class="form-control" type="text" value="{{title}}" placeholder="No title"/>
  </div>

  <div class="form-group">
    <label class="control-label">Credits</label>
    <input name="images[{{index}}][credits]" class="form-control" type="text" value="{{{credits}}}" placeholder="No credits" />
  </div>

  <div>
    <fieldset class="js-ImageSources">
      <legend>Image Sources</legend>
      <div>
        <label >Small Image</label>
        <input name="images[{{index}}][srcphone]" class="form-control" type="text" value="{{srcphone}}" placeholder="No small image source"/>
      </div>
      <div class="form-group">
        <label >Medium Image</label>
        <input name="images[{{index}}][srcmedium]" class="form-control" type="text" value="{{srcmedium}}" placeholder="No medium image source"/>
      </div>
      <div class="form-group">
        <label >Large Image</label>
        <input name="images[{{index}}][srcmain]" class="form-control" type="text" value="{{srcmain}}" placeholder="No main image source"/>
      </div>
    </fieldset>
  </div>

</fieldset>
