<fieldset class="js-Slide js-Dynamic">

  <legend>Slide</legend>

  <div class="form-group">
    <label for="images_{{index}}_title" class="control-label">Caption</label>
    <textarea id="images_{{index}}_title" name="images[{{index}}][title]" class="form-control">{{{title}}}</textarea>
  </div>

  <div class="form-group">
    <label for="images_{{index}}_credits" class="control-label">Credits</label>
    <textarea id="images_{{index}}_credits" name="images[{{index}}][credits]" class="form-control">{{{credits}}}</textarea>
  </div>

  <div>
    <fieldset class="js-ImageSources">
      <legend>Image Sources</legend>
      <div>
        <label>Phone Image</label>
        <img id='images-{{index}}-srcphone-preview' data-src="{{srcphone}}" class='img-preview-thumb' />
        <input id='images-{{index}}-srcphone' data-for='images-{{index}}-srcphone' name="images[{{index}}][srcphone]" class="form-control src-input" type="text" value="{{srcphone}}" placeholder="No small image source"/>
        <input data-for="images-{{index}}-srcphone" class="fileupload-input" type="file" name="files[]">
      </div>
      <div class="form-group">
        <label>Tablet Image</label>
        <img id='images-{{index}}-srcmedium-preview' data-src="{{srcmedium}}" class='img-preview-thumb' />
        <input id='images-{{index}}-srcmedium' data-for='images-{{index}}-srcmedium' name="images[{{index}}][srcmedium]" class="form-control src-input" type="text" value="{{srcmedium}}" placeholder="No medium image source"/>
        <input data-for="images-{{index}}-srcmedium" class="fileupload-input" type="file" name="files[]">
      </div>
      <div class="form-group">
        <label>Desktop Image</label>
        <img id='images-{{index}}-srcmain-preview' data-src="{{srcmain}}" class='img-preview-thumb' />
        <input id='images-{{index}}-srcmain' data-for='images-{{index}}-srcmain' name="images[{{index}}][srcmain]" class="form-control src-input" type="text" value="{{srcmain}}" placeholder="No main image source"/>
        <input data-for="images-{{index}}-srcmain" class="fileupload-input" type="file" name="files[]">
      </div>
    </fieldset>
  </div>

  <button type="button" class="js-Remove btn btn-danger pull-right">Delete</button>

</fieldset>

<script type="text/javascript">
  (function() {
    const phone = document.getElementById('images-{{index}}-srcphone-preview');
    const medium = document.getElementById('images-{{index}}-srcmedium-preview');
    const main = document.getElementById('images-{{index}}-srcmain-preview');

    [phone, medium, main].forEach((media) => {
        const file = media.dataset.src;
        if (/^uploads\//.test(file)) {
            media.src = `/${file}`;
        } else {
            media.src = file;
        }
    });
  })();
</script>

<script>
$('#images_{{index}}_title').summernote({
  toolbar: [
    ['style', ['bold', 'italic', 'underline', 'clear']],
    ['font', ['strikethrough', 'superscript', 'subscript']],
    ['fontsize', ['fontsize']],
    ['color', ['color']],
    ['para', ['style', 'ul', 'ol', 'paragraph']],
    ['height', ['height']],
    ['tools', ['link', 'hr', 'codeview', 'undo', 'redo']]
  ]
});

$('#images_{{index}}_credits').summernote({
  toolbar: [
    ['style', ['bold', 'italic', 'underline', 'clear']],
    ['font', ['strikethrough', 'superscript', 'subscript']],
    ['color', ['color']],
    ['tools', ['link', 'codeview']]
  ]
});
</script>
