<fieldset class="js-Slide js-Dynamic">

  <legend>Slide</legend>

  <a href="#" class="js-Remove">Remove</a>

  <div class="form-group">
    <label class="control-label">Title</label>
    <input name="images[{{index}}][title]" class="form-control" type="text" value="{{title}}" placeholder="No title"/>
  </div>

  <div class="form-group">
    <label class="control-label">Credits</label>
    <input name="images[{{index}}][credits]" class="form-control" type="text" value="{{{credits}}}" placeholder="No credits" />
  </div>

  <div>
    <fieldset class="js-ImageSources">
      <legend>Image Sources</legend>
      <div>
        <label >Small Image</label>
        <img id='images-{{index}}-srcphone-preview' src='' class='img-preview-thumb' />
        <input id='images-{{index}}-srcphone' data-for='images-{{index}}-srcphone' name="images[{{index}}][srcphone]" class="form-control src-input" type="text" value="{{srcphone}}" placeholder="No small image source"/>
        <input data-for="images-{{index}}-srcphone" class="fileupload-input" type="file" name="files[]">
      </div>
      <div class="form-group">
        <label >Medium Image</label>
        <img id='images-{{index}}-srcmedium-preview' src='' class='img-preview-thumb' />
        <input id='images-{{index}}-srcmedium' data-for='images-{{index}}-srcmedium' name="images[{{index}}][srcmedium]" class="form-control src-input" type="text" value="{{srcmedium}}" placeholder="No medium image source"/>
        <input data-for="images-{{index}}-srcmedium" class="fileupload-input" type="file" name="files[]">
      </div>
      <div class="form-group">
        <label >Large Image</label>
        <img id='images-{{index}}-srcmain-preview' src='' class='img-preview-thumb' />
        <input id='images-{{index}}-srcmain' data-for='images-{{index}}-srcmain' name="images[{{index}}][srcmain]" class="form-control src-input" type="text" value="{{srcmain}}" placeholder="No main image source"/>
        <input data-for="images-{{index}}-srcmain" class="fileupload-input" type="file" name="files[]">
      </div>
    </fieldset>
  </div>

</fieldset>
