<fieldset class="js-SnippetImage">
  <legend>Image</legend>

	<a href="#" class="js-remove">Remove</a>

	<fieldset class="js-align">

    <legend for="align">Alignment</legend>

      <label for="alignmentDefault">
				Default (Centre)
      </label>
			<input type="radio" id="alignmentDefault" name="alignment" data-name="align" value="default"{{#align}}{{#default}} data-checked="checked" checked="checked"{{/default}}{{/align}}>

      <label for="alignmentLeft">
        Left
      </label>
			<input type="radio" id="alignmentLeft" name="alignment" data-name="align" value="left"{{#align}}{{#left}} data-checked="checked" checked="checked"{{/left}}{{/align}}>

      <label for="alignmentRight">
        Right
      </label>
			<input type="radio" id="alignmentRight" name="alignment" data-name="align" value="right"{{#align}}{{#right}} data-checked="checked" checked="checked"{{/right}}{{/align}}>

	</fieldset>

  {{> title}}

  {{> image}}

</fieldset>
