<fieldset class="js-Slide">

  <legend>Slide</legend>

	<a href="#" class="js-Remove">Remove</a>

	<div class="form-group">
    <label class="control-label">Title</label>
    <input name="images[{{index}}][title]" data-name="title" type="text" class="form-control" value="{{#title}}{{title}}{{/title}}"{{^title}} placeholder="No title"{{/title}} />
  </div>

	<div>
    <label class="control-label">Credits</label>
    <input name="images[{{index}}][credits]" data-name="credits" type="text" {{#credits}}value="{{{credits}}}" {{/credits}}placeholder="No credits" />
  </div>

	<div>
    <fieldset class="js-ImageSources">
      <legend>Image Sources</legend>
      <div>
        <label >Small Image</label>
        <input name="images[{{index}}][srcphone]" data-name="srcphone" id="srcphone" type="text" {{#srcphone}}value="{{srcphone}}" {{/srcphone}}placeholder="No small image source"/>
      </div>
      <div class="form-group">
        <label >Medium Image</label>
        <input name="images[{{index}}][srcmedium]" data-name="srcmedium" id="srcmedium" type="text" {{#srcmedium}}value="{{srcmedium}}" {{/srcmedium}}placeholder="No medium image source"/>
      </div>
      <div class="form-group">
        <label >Large Image</label>
        <input name="images[{{index}}][srcmain]" data-name="srcmain" id="srcmain" type="text"{{#srcmain}}value="{{srcmain}}" {{/srcmain}}placeholder="No main image source"/>
      </div>
    </fieldset>
  </div>

</fieldset>
