<div>
  <label>MP4</label>
  <video id='mp4-preview' src="{{video.mp4}}" class='video-preview-thumb' controls="true"></video>
  <input id="mp4" name="mp4" class="form-control src-input" data-for="mp4" type="text" value="{{video.mp4}}" placeholder="No mp4 source" />
  <input data-for="mp4" class="fileupload-input" type="file" name="files[]">
</div>
<div>
  <label>Webm</label>
  <video id='webm-preview' src="{{video.webm}}" class='video-preview-thumb' controls="true"></video>
  <input id="webm" name="webm" class="form-control src-input" data-for="webm" type="text" value="{{video.webm}}" placeholder="No webm source" />
  <input data-for="webm" class="fileupload-input" type="file" name="files[]">
</div>
