<legend>Youtube Video</legend>
<div>
  <label for="youtube_id">YouTube Id</label>
  <input id="youtube_id" name="youtube_id" type="text" value="{{youtube_id}}" placeholder="No YouTube id" />
</div>
<div style="width: 480px; height: 270px">
	<div id="ytpreview"></div>
</div>

<script type="text/javascript">
	var youtube_id = document.getElementById('youtube_id');
	youtube_id.oninput = function() {
		const video_id = this.value;

		window.YouTubePromise.then(function() {
			window.YouTubePlayer.loadVideoById(video_id);
		});
	}

	function loadYouTube () {
	  var tag = document.createElement('script');
	  tag.src = "https://www.youtube.com/player_api";
	  var firstScriptTag = document.getElementsByTagName('script')[0];
	  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
	}

	function createPlayer () {
		window.YouTubePlayer = new YT.Player('ytpreview', {
		  width: 480,
		  height: 270,
		  videoId: "{{youtube_id}}",
		});
	}

	if (window.YouTubePromise) {
		createPlayer();
	} else {
		loadYouTube();
		window.YouTubePromise = new Promise(function(resolve, reject) {
		  window.onYouTubePlayerAPIReady = function () {
		  	createPlayer();
		    resolve();
		  }
		});
	}
</script>