<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/node_modules/vex-js/dist/css/vex.css" />
  <link rel="stylesheet" href="/node_modules/vex-js/dist/css/vex-theme-os.css" />

  <!-- load our custom styles last -->
  <link type="text/css" rel="stylesheet" href="/css/home.css" />

  <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
</head>
<body>
  <iframe id="preview" src="/preview"></iframe>
  <iframe id="editor" class="editor" src="/editor"></iframe>

  <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>

  <!-- vex-js -->
  <script src="/node_modules/vex-js/dist/js/vex.combined.min.js"></script>
  <script>vex.defaultOptions.className = 'vex-theme-os'</script>
  <script type="text/javascript" src="/js/index.js"></script>
</body>
</html>
