<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="css/home.css" />
  <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
</head>
<body>
  <div id="toolbar">
    <button id="btn-refresh-preview" class="btn btn-default">Refresh Preview</button>
    <button id="btn-download" class="btn btn-default">Download Story</button>
    <!-- TODO: add a button here to kick off the dist build -->
    <!-- TODO: add a hide button here that hides the toolbar or puts it out of the way of the preview -->
  </div>

  <iframe id="preview" src="/preview"></iframe>

  <iframe class="editor" src="/editor"></iframe>

  <!-- TODO: figure out why jquery needs to be included in both <head> and <body> -->
  <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
</body>
</html>