<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" id="modernizrcom" class="no-js"> <!--<![endif]-->
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {{#meta}}
      <title>{{title}}</title>
      <meta name="description" content="{{{description}}}">
      <meta name="author" content="{{author}}">
      <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{{rsspingback}}">
      <meta property="og:title"       content="{{title}}" />
      <meta property="og:url"         content="{{src}}" />
      <meta property="og:site_name"   content="{{site_name}}" />
      <meta property="og:description" content="{{{description}}}" />
      <meta property="og:image"       content="{{site_img}}" />
      <meta property="og:type"        content="article" />
      <meta content="yes" name="apple-mobile-web-app-capable">
      <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {{/meta}}
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="apple-touch-icon" href="img/touch-icon.png">
    <link rel="stylesheet" type="text/css" href="/app.css">
  </head>

  <body class="longform" name="top">

    <div id='fb-root'></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = '//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- main audio -->
    <audio id="master-audio" preload="none" autoplay="autoplay" loop="loop"></audio>
    <span class="mute">Mute</span>

    <article id="scrollytelling">
      {{#items}}
        {{#imagebackground}}
          <section class="part sticky-image" name="story{{id}}"
            {{#image}}
              data-image=true
              {{#srcmain}}
                data-src="{{srcmain}}"
              {{/srcmain}}
              {{#srcmedium}}
                data-src-medium="{{srcmedium}}"
              {{/srcmedium}}
              {{#srcphone}}
                data-src-phone="{{srcphone}}"
              {{/srcphone}}
            {{/image}}>
            {{#image}}
              <div class="bg-image"></div>
            {{/image}}
            <div class="content container-fluid">
              <div class="row">
                <div class="col-sm-12 header-fullpage">
                  <div class="middle">
                  {{#title}}
                    <h1>{{title}}</h1>
                  {{/title}}
                  {{#subtitle}}
                    <h2>{{subtitle}}</h2>
                  {{/subtitle}}
                  </div>
                </div>
              </div>
              {{#text}}
              <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 text">
                  {{{text}}}
                </div>
              </div>
              {{/text}}
            </div>
            <div class="background_gradient"></div>
          </section>
        {{/imagebackground}}

        {{#imageparallax}}
          <section class="part parallax" name="story{{id}}" data-parallax=true
            {{#image}}
              {{#srcmain}}
                data-src="{{srcmain}}"
              {{/srcmain}}
              {{#srcmedium}}
                data-src-medium="{{srcmedium}}"
              {{/srcmedium}}
              {{#srcphone}}
                data-src-phone="{{srcphone}}"
              {{/srcphone}}
            {{/image}}>

            {{#image}}
              <div class="bg-image" data-scroll-speed="-2"></div>
            {{/image}}

            {{#title}}
              <div class="content container" data-scroll-speed="-0.8">
                <div class="row">
                  <div class="col-sm-12 header-fullpage">
                    <h1>{{title}}</h1>
                  </div>
                </div>
              </div>
            {{/title}}

          </section>
        {{/imageparallax}}

        {{#slideshowhorizontal}}
          <section class="part slideshow-horizontal snap" name="story{{id}}" data-slideshow=true>
            <div class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls">
              <div class="slides"></div>
              <a class="prev">&lsaquo;</a>
              <a class="next">&rsaquo;</a>
              <div class="slide-caption"></div>
              <div class="credits"></div>
            </div>

            <div class='slide-container'>
              {{#images}}
                <a href='{{src}}' title='{{title}}' type='{{type}}' data-credits='{{credits}}'>{{title}}</a>
              {{/images}}
            </div>
          </section>
        {{/slideshowhorizontal}}

        {{#slideshowvertical}}
          <section class="part slideshow" name="story{{id}}" data-slides=true>
            {{#images}}
              <div class="bg-image"
                  {{#srcmain}}
                     data-src='{{srcmain}}'
                   {{/srcmain}}
                   {{#srcmedium}}
                     data-srcMedium='{{srcmedium}}'
                   {{/srcmedium}}
                   {{#srcphone}}
                     data-srcPhone='{{srcphone}}'
                   {{/srcphone}}
                   >
                <div class="caption">
                  {{#title}}
                    {{title}}
                  {{/title}}
                  {{#credits}}
                    <span>{{credits}}</span>
                  {{/credits}}
                </div>
              </div>
            {{/images}}
          </section>
        {{/slideshowvertical}}

        {{#textcentred}}
          <section class="no-effects part text_align-center
                    {{#light}}
                      reverse_colors
                    {{/light}}"
                   name="story{{id}}">
                <div class="content container-fluid">
                  <div class="row">
                    <div class="col-sm-12 header">
                      {{#title}}
                        <h1>{{title}}</h1>
                      {{/title}}
                      {{#subtitle}}
                        <h2>{{subtitle}}</h2>
                      {{/subtitle}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 text">
                      {{#intro}}
                        {{{intro}}}
                      {{/intro}}
                      {{#snippets}}
                        {{#src}}
                          <figure class="cms-image {{align}}" style="max-width: 360px;">
                            <img src="{{src}}" style="max-width: 100%" rel="resizable" alt="{{alt}}" />
                            <figcaption>{{title}}
                               <span class="photographer">
                                 {{{credits}}}
                               </span>
                            </figcaption>
                          </figure>
                        {{/src}}
                        {{{text}}}
                      {{/snippets}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="background_gradient"></div>
          </section>
        {{/textcentred}}

        {{#videobackground}}
          <section class="st-video part"
            name="story{{id}}"
            {{#video}}
              data-video="true"
              data-poster="{{loading}}"
              data-loop="true"
              data-autoplay="true"
              data-muted="false"
              {{#mp4}}
                data-mp4="{{mp4}}"
              {{/mp4}}
              {{#webm}}
                data-webm="{{webm}}"
              {{/webm}}
            {{/video}}>
            <div class="video-container"><video></video></div>
            <div class="content container-fluid">
              <div class="row">
                <div class="col-sm-12 {{#format}}{{#fullpage}}header-fullpage{{/fullpage}}{{/format}}">
                  <div class="middle">
                  {{#title}}
                    <h1>{{title}}</h1>
                  {{/title}}
                  {{#subtitle}}
                    <h2>{{subtitle}}</h2>
                  {{/subtitle}}
                  </div>
                </div>
              </div>
              {{#text}}
              <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 text">
                  {{{text}}}
                </div>
              </div>
              {{/text}}
            </div>

          </section>
        {{/videobackground}}

        {{#videofullpage}}
          <section class="st-content-video part snap"
            name="story{{id}}"
            {{#video}}
              data-video="true"
              data-poster="{{loading}}"
              data-loop="true"
              data-autoplay="true"
              data-muted="false"
              data-is-fullpage="true"
              {{#mp4}}
                data-mp4="{{mp4}}"
              {{/mp4}}
              {{#webm}}
                data-webm="{{webm}}"
              {{/webm}}
            {{/video}}>
            <div class="video-container"><video></video></div>
            <div class="caption">
              <div class="button-container play"></div>
              <div class="button-container pause"></div>
              <div class="text">
                <h3>{{title}}</h3>
                {{{text}}}
              </div>
            </div>
          </section>
        {{/videofullpage}}
      {{/items}}
    </article>

    {{> partials/social}}

    <script type="text/javascript" src="/app.js"></script>
  </body>
</html>
