body {
  padding: 0 20px;
}

.pages > div {
  margin: 0;
}

.nav-container {
  left: 0;
  padding-bottom: 15px;
  top: 0;
  z-index: 10;
}

.nav {
  margin-right: 0;
}

.form-horizontal .form-group {
  margin: 0;
}

legend,
button#save
 {
  user-select: none;
}

label {
  clear: left;
  user-select: none;
}

[draggable] {
  cursor: ns-resize;
  user-select: none;
}

.js-Nav  li {
  overflow: auto;
}

.js-Nav  a {
  float: left;
}
.js-Nav  form {
  float: right;
}

legend {
  border: none;
  margin-left: 1em;
  width: auto;
}

fieldset {
  border: 1px solid grey;
  margin-bottom: 2em;
  padding: 1em;
}

input {
  margin-bottom: 1em;
}

.ctrls {
  margin-bottom: 1em;
}

.img-preview-thumb,
.video-preview-thumb {
  max-width: 250px;
  padding: 5px;
}

/*Needed to fix overlapping issue with font colour picker.*/
.note-toolbar {
  z-index: auto;
}

.note-editor .note-editing-area {
  top: 8px;
}

.bg-color-swatch {
  display: inline-block;
  float: right;
  height: 20px;
  margin-left: 10px;
  width: 20px;
}

.bg-colour-sliders {
  display: block;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
  overflow: auto;
}

/* colour picker overrides  */
#picker {
  height: 200px;
  float: left;
  width: 200px;
}

#slide {
  height: 200px;
  float: left;
  margin-left: 10px;
  width: 30px;
}
