body {
  padding: 80px 20px 0;
}

.pages > div {
  margin: 0;
}

.nav-container {
  left: 0;
  top: 0;
  z-index: 10;
}

.nav {
  margin-right: 0;
}

.form-horizontal .form-group {
  margin: 0;
}

legend,
button#save
 {
  user-select: none;
}

[draggable] {
  cursor: ns-resize;
  user-select: none;
}
