body {
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100vw;
}
iframe {
  border: none;
  height: 100vh;
  position: absolute;
  width: 50vw;
}
.preview {
  border: none;
  left: 0;
}
.editor {
  right: 0;
}

#toolbar {
  padding: 5px;
  position: absolute;
  right: 125px;
  z-index: 999;
}

#toolbar.collapsed {
  width: 55px;
  height: 44px;
  overflow: hidden;
}

.btn-xs, .btn-group-xs > .btn {
  padding: 0.15rem 0.5rem;
  font-size: 0.725rem;
  line-height: 1.0;
  border-radius: 0.2rem;
}

