body {
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100vw;
}
iframe {
  border: none;
  height: 100vh;
  position: absolute;
  width: 50vw;
}
.preview {
  border: none;
  left: 0;
}
.editor {
  right: 0;
}

#toolbar {
  padding: 5px;
  position: absolute;
  top: 0;
  z-index: 999;
}
