body {
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100vw;
  display: flex;
  align-items: center;
}
iframe {
  border: none;
  position: absolute;
}
.preview {
  border: none;
  left: 0;
}
#preview {
  width: 600px;
  height: 800px;
}
.editor {
  right: 0;
  height: 100vh;
  width: calc(100vw - 600px);
}
