.ContentBlockSelector {
  background: #efefef;
  padding: 5px;
  > div {
    cursor: pointer;
    padding: 30px;
  }
  .BackgroundVideo {
    background-color: red;
  }
  .CentredText {
    background-color: orange;
  }
  .FullpageVideo {
    background-color: yellow;
  }
  .HorizontalSlideshow {
    background-color: green;
  }
  .ImageAudio {
    background-color: blue;
  }
  .ImageBackground {
    background-color: indigo;
  }
  .ImageParallax {
    background-color: violet;
  }
  .VerticalSlideshow {
    background-color: lime;
  }
  .YouTube {
    background-color: crimson;
  }
}