<form action="/editor/page/imagebackground/id/{{id}}" method="post">

  <h4>Image Background</h4>

  {{#item}}

  {{> fullpage}}

  {{> suppressnav}}

    <fieldset>
      {{> title}}
      {{> subtitle}}
      {{> plaintext}}
    </fieldset>

    <fieldset>
      <legend>Gradient</legend>
      {{> gradientstops}}
      {{> gradientspeed}}
      {{> gradientanimationdirection}}
      {{> gradientdirection}}
    </fieldset>

    <fieldset>
      {{#image}}
        {{> imagesources}}
      {{/image}}

      {{^image}}
        {{> imagesources}}
      {{/image}}
    </fieldset>

    <fieldset>
      {{#audio}}
        {{> audiosources}}
      {{/audio}}

      {{^audio}}
        {{> audiosources}}
      {{/audio}}
    </fieldset>

    <fieldset>
       <legend>Audio Playback</legend>

      <div>
        <label id="loop">Loop</label>
        <input for="loop" name="loop" type="checkbox" {{#audio}}{{#loop}} checked {{/loop}}{{/audio}} />
        <!-- <label>Auto Advance</label>
        <input name="playback" value="advance" type="check" {{#autoAdvance}} checked{{/autoAdvance}} /> -->
      </div>
    </fieldset>

  {{/item}}

  {{> formcontrols}}

</form>
