<form action="/editor/page/imageaudio/id/{{id}}" method="post">

  <h4>Image Audio</h4>

  {{#item}}

    {{> suppressnav}}

    <fieldset>
      {{#image}}
        {{> imagesources}}
      {{/image}}

      {{^image}}
        {{> imagesources}}
      {{/image}}
    </fieldset>

    <fieldset>
      <div>
        <label for="background_position">Background Position</label>
        <input type="text" class="form-control" id="background_position" name="background_position"
        {{#image}}{{#background_position}} value="{{background_position}}"{{/background_position}}{{/image}}>
      </div>
      <div class="checkbox">
        <label for="no_stick">
          <input id="no_stick" name="no_stick" type="checkbox" {{#image}}{{#no_stick}}
          checked="checked"{{/no_stick}}{{/image}} >Don't stick image
        </label>
      </div>
    </fieldset>

    <fieldset>
      {{#audio}}
        {{> audiosources}}
      {{/audio}}

      {{^audio}}
        {{> audiosources}}
      {{/audio}}
     </fieldset>

  {{/item}}

  {{> formcontrols}}

</form>
