<form action="/editor/page/imageaudio/id/{{id}}" method="post">

  <h4>Image Audio</h4>

  {{#item}}

    {{> suppressnav}}

    <fieldset>
      <label for="id">Light</label>
      <input id="light" name="light" type="checkbox" {{#light}} checked{{/light}} />
    </fieldset>

    <fieldset>
      {{#image}}
        {{> imagesources}}
      {{/image}}

      {{^image}}
        {{> imagesources}}
      {{/image}}
    </fieldset>

    <fieldset>
      <div>
        <label for="alt">Alternative Text</label>
        <textarea class="form-control" id="alt" name="alt">{{#image}}{{#alt}}{{{alt}}}{{/alt}}{{/image}}</textarea>
      </div>
      <div>
        <label for="image_caption">Image Caption</label>
        <textarea class="form-control" id="image_caption" name="image_caption"
        >{{#image}}{{#image_caption}}{{image_caption}}{{/image_caption}}{{/image}}</textarea>
      </div>
      {{#image}}
        {{> imagecredits}}
      {{/image}}

      {{^image}}
        {{> imagecredits}}
      {{/image}}
    </fieldset>

    <fieldset>
      {{#audio}}
        {{> audiosources}}
      {{/audio}}

      {{^audio}}
        {{> audiosources}}
      {{/audio}}
     </fieldset>

     <fieldset>
      {{#audio}}
        {{> audiocredits}}
      {{/audio}}

      {{^audio}}
        {{> audiocredits}}
      {{/audio}}
     </fieldset>

  {{/item}}

  {{> formcontrols}}

</form>
