<form action="/editor/page/imagebackground/id/{{id}}" method="post">

  <h4>Image Background</h4>

  {{#item}}

    {{> fullpage}}

    <fieldset>
      {{> title}}
      {{> subtitle}}
      {{> plaintext}}
    </fieldset>

    <fieldset>
      {{> offset}}
    </fieldset>

    <fieldset>
      {{#image}}
        {{> imagesources}}
      {{/image}}

      {{^image}}
        {{> imagesources}}
      {{/image}}
    </fieldset>

    <fieldset>
      {{#audio}}
        {{> audiosources}}
      {{/audio}}

      {{^audio}}
        {{> audiosources}}
      {{/audio}}
    </fieldset>

  {{/item}}

  {{> formcontrols}}

</form>
