<form action="/editor/page/imageaudio/id/{{id}}" method="post">

  <h4>Image Audio</h4>

  {{#item}}

    {{> suppressnav}}

    <fieldset>
      {{> title}}
    </fieldset>

    <fieldset>
      {{#image}}
        {{> imagesources}}
      {{/image}}

      {{^image}}
        {{> imagesources}}
      {{/image}}
    </fieldset>

    <fieldset>
      {{#audio}}
        {{> audiosources}}
      {{/audio}}

      {{^audio}}
        {{> audiosources}}
      {{/audio}}
     </fieldset>

  {{/item}}

  {{> formcontrols}}

</form>
