<form class="js-ImageBackground">

  <legend class="title">Image Background</legend>

	{{#item}}

	  {{> fullpage}}

	  <fieldset>

	      <!--
	        Nav Level
	        Nav Thumb
	      -->

	    {{> title}}

	    {{> subtitle}}

	    {{> plaintext}}

	  </fieldset>

		{{#image}}
		  {{> imagesources}}
		{{/image}}

	{{/item}}

	{{^item}}

	  {{> fullpage}}

	  <fieldset>

	      <!--
	        Nav Level
	        Nav Thumb
	      -->

	    {{> title}}

	    {{> subtitle}}

	    {{> plaintext}}

	  </fieldset>

	  {{> imagesources}}

	{{/item}}

  {{> formcontrols}}

</form>
