<script src="/js/meta.js"></script>

<form id="frm-item-editor" class="form-horizontal js-Meta" method="POST" action="/editor/page/meta" method="post">

  <legend class="title">Meta Information</legend>

  <fieldset>

    {{#meta}}

      {{> title}}

      <div class="form-group">
        <label for="site_name" class="control-label">Site Name</label>
        <input name="site_name" data-name="site_name" type="text" class="form-control" value="{{#site_name}}{{site_name}}{{/site_name}}" />
      </div>

      <div class="form-group">
        <label for="site_img" class="control-label">Site Image</label>
        <input name="site_img" data-name="site_img" type="text" class="form-control" value="{{#site_img}}{{site_img}}{{/site_img}}" />
      </div>

      {{> subtitle}}

      <div class="form-group">
        <label for="author" class="control-label">Author</label>
        <input name="author" data-name="author"type="text" class="form-control" value="{{#author}}{{author}}{{/author}}" />
      </div>

      <div class="form-group">
        <label for="keywords" class="control-label">Keywords</label>
        <textarea name="keywords" data-name="keywords" class="form-control">{{#keywords}}{{keywords}}{{/keywords}}</textarea>
      </div>

      <div class="form-group">
        <label for="rsspingback" class="control-label">RSS Pingback</label>
        <input name="rsspingback" data-name="rsspingback" type="text" class="form-control" value="{{#rsspingback}}{{rsspingback}}{{/rsspingback}}" />
      </div>

      <div class="form-group">
        <label for="description" class="control-label">Description</label>
        <textarea name="description" data-name="description" class="form-control js-RichText">{{#description}}{{description}}{{/description}}</textarea>
      </div>

      <div class="form-group">
        <label for="src" class="control-label">Src</label>
        <input name="src" data-name="src" type="text" class="form-control src-input" value="{{#src}}{{src}}{{/src}}" />
      </div>

    {{/meta}}

    <!--
    share
    facebook
    twitter
    -->

    {{> formcontrols}}

  </fieldset>
</form>
