<script src="/tools/jquery/dist/jquery.min.js"></script>

<form class="js-SlideshowHorizontal">

  <legend class="title">Slideshow Horizontal</legend>

	{{#item}}

	  {{> inline}}

	  <fieldset>

	    {{> title}}

			{{> plaintext}}

	  </fieldset>

	  <a href="#" class="js-AddSlide">Slide [+]</a>

	  <div class="js-ContentDynamic">
			{{#images}}
				{{> horizontalslide}}
			{{/images}}
		</div>

	{{/item}}

	{{^item}}

	  {{> inline}}

	  <fieldset>

	    {{> title}}

	    {{> plaintext}}

	  </fieldset>

	  <a href="#" class="js-AddSlide">Slide [+]</a>

	  <div class="js-ContentDynamic"></div>

	{{/item}}

  {{> formcontrols}}


</form>

<script src="/js/slideshowhorizontal.js"></script>
