<form id="frm-item-editor" class="js-SlideshowVertical" data-id="" action="/editor/page/slideshowvertical/id/{{id}}" method="post">

  <legend class="title">Vertical Slideshow</legend>

	{{#item}}

	  <a href="#" class="js-AddSlide">Slide [+]</a>

	  <div class="js-ContentDynamic">
			{{#images}}
				{{> verticalslide}}
			{{/images}}
		</div>

	{{/item}}

	{{^item}}

	  <a href="#" class="js-AddSlide">Slide [+]</a>

	  <div class="js-ContentDynamic"></div>

	{{/item}}

  {{> formcontrols}}

</form>

<script src="/js/slideshowvertical.js"></script>
<script type="text/javascript" src="/js/itemeditor.js">
