<form action="/editor/page/slideshowhorizontal/id/{{id}}" method="post">
  <fieldset>
    <label>Horizontal Slideshow</label>

    {{#item}}

    {{> suppressnav}}

      <fieldset>
        <input type="hidden" name="id" value="{{id}}">
        <div class="form-group">
          <label>Light</label>
          <input id="light" name="light" type="checkbox" {{#light}} checked{{/light}} />
        </div>
        <div class="form-group">
          <label for="title" class="control-label">Title</label>
          <textarea id="title" name="title" type="text" class="form-control">{{title}}</textarea>
        </div>
        <button type="button" class="js-AddSlide btn btn-success pull-right">Add Slide [+]</button>
      </fieldset>

      <div class="js-ContentDynamic">
        {{#images}}
          {{> slide}}
        {{/images}}
      </div>

    {{/item}}

    {{> formcontrols}}
  </fieldset>
</form>

<script>
$('#title').summernote({
  toolbar: [
    ['style', ['bold', 'italic', 'underline', 'clear']],
    ['font', ['strikethrough', 'superscript', 'subscript']],
    ['color', ['color']],
    ['tools', ['link', 'codeview']]
  ]
});
</script>
