<form id="frm-item-editor" class="js-TextCentred" action="/editor/page/textcentred/id/{{id}}" method="post">

  <legend class="title">Text Centred</legend>

  {{#item}}

  <fieldset>

    <div>
      <input type="hidden" name="id" value="{{id}}">
      <label>Light</label>
      <input name="light" type="checkbox" {{#light}} checked{{/light}} />
    </div>

    <div class="form-group">
        <label class="control-label">Title</label>
        <input name="title" type="text" class="form-control" value="{{title}}" placeholder="No title" />
    </div>

    {{> subtitle}}

    {{> intro}}

  </fieldset>

  <legend>Content Blocks</legend>

  <ul class="js-ContentBlockSelector">
    <li>
      <a href="#" class="js-AddImage">Image [+]</a>
    </li>
  </ul>

  <div class="js-ContentDynamic">
    {{#snippets}}
      {{> snippetimage}}
    {{/snippets}}
  </div>

  {{/item}}

  {{> formcontrols}}

</form>
<script type="text/javascript" src="/js/src-input.js"></script>
