<form action="/editor/page/textcentred/id/{{id}}" method="post">

  <h4>Text Centred</h4>

  {{#item}}

  {{> suppressnav}}

  <fieldset>

    <div>
      <input for="light" type="hidden" name="id" value="{{id}}">
      <label>Light</label>
      <input id="light" name="light" type="checkbox" {{#light}} checked{{/light}} />
    </div>

    {{> title}}
    {{> subtitle}}
    {{> intro}}

    <button type="button" class="js-AddImage btn btn-success pull-right">Add Image [+]</button>
  </fieldset>

  <div class="js-ContentDynamic">
    {{#snippets}}
      {{> snippetimage}}
    {{/snippets}}
  </div>

  {{/item}}

  {{> formcontrols}}

</form>
