<script src="/tools/jquery/dist/jquery.min.js"></script>

<form class="js-TextCentred" data-id="" action="/editor/page/textcentred/id/{{id}}" method="post">

  <legend class="title">Text Centred</legend>

	{{#item}}

  <fieldset>

		<div>
      <label for="light">Light</label>
			<input id="light" name="light" data-name="light" type="checkbox"{{#light}} checked{{/light}} />
    </div>

    {{> title}}

    {{> subtitle}}

    {{> intro}}

  </fieldset>

  <legend>Content Blocks</legend>

  <ul class="js-ContentBlockSelector">
    <li>
      <a href="#" class="js-AddText">Text [+]</a>
    </li>
    <li>
      <a href="#" class="js-AddImage">Image [+]</a>
    </li>
  </ul>


  <div class="js-ContentDynamic">
		{{#snippets}}
			{{^text}}
				{{> snippetimage}}
			{{/text}}
			{{#text}}
				{{> snippettext}}
			{{/text}}
		{{/snippets}}
	</div>

	{{/item}}

	{{^item}}

  <fieldset>

		<div>
      <label for="light">Light</label>
			<input id="light" name="light" data-name="light" type="checkbox"{{#light}} checked{{/light}} />
    </div>

    {{> title}}

    {{> subtitle}}

    {{> intro}}

  </fieldset>

  <legend>Content Blocks</legend>

  <ul class="js-ContentBlockSelector">
    <li>
      <a href="#" class="js-AddText">Text [+]</a>
    </li>
    <li>
      <a href="#" class="js-AddImage">Image [+]</a>
    </li>
  </ul>


  <div class="js-ContentDynamic">
		{{#snippets}}
			{{^text}}
				{{> snippetimage}}
			{{/text}}
			{{#text}}
				{{> snippettext}}
			{{/text}}
		{{/snippets}}
	</div>

	{{/item}}

	{{> formcontrols}}

</form>

<script src="/js/textcentred.js"></script>
