<form action="/editor/page/videofullpage/id/{{id}}" method="post">

  <h4>Video Fullpage</h4>

  {{#item}}

    {{> fullpage}}

    <fieldset>
      {{> title}}
      {{> plaintext}}
    </fieldset>

    <fieldset>
      {{> videosources}}
    </fieldset>

    <fieldset>
       <legend>Playback</legend>
      
      <div>
        <label>Loop</label>
        <input name="playback" value="loop" type="radio" {{^autoAdvance}} checked {{/autoAdvance}} />
        <label>Auto Advance</label>
        <input name="playback" value="advance" type="radio" {{#autoAdvance}} checked{{/autoAdvance}} />
      </div>
    </fieldset>

    <fieldset class="js-PosterImage">
      <legend>Poster Image</legend>
      {{> loadingimage}}
    </fieldset>

  {{/item}}

  {{> formcontrols}}

</form>
