<form class="form-horizontal js-VideoBackground" data-id="">

	{{#item}}

	  <legend class="title">Video Background</legend>

	  {{> fullpage}}

	  <fieldset>

	    {{> title}}

	    {{> subtitle}}

	  </fieldset>

	  <fieldset class="js-VideoSources">

	    <legend>Video Sources</legend>

	    {{> videosources}}

	  </fieldset>

	  <fieldset class="js-PosterImage">

	    <legend>Poster Image</legend>

	    {{> loadingimage}}

	  </fieldset>

	{{/item}}

	{{^item}}

	  <legend class="title">Video Background</legend>

	  {{> fullpage}}

	  <fieldset>

	    {{> title}}

	    {{> subtitle}}

	  </fieldset>

	  <fieldset class="js-VideoSources">

	    <legend>Video Sources</legend>

	    {{> videosources}}

	  </fieldset>

	  <fieldset class="js-PosterImage">

	    <legend>Poster Image</legend>

	    {{> loadingimage}}

	  </fieldset>

	{{/item}}

  {{> formcontrols}}

</form>
