<form class="form-horizontal js-VideoBackground" data-id="">

  <legend class="title">Video Background</legend>

  {{> fullpage}}

  <fieldset>

    {{> title}}

    {{> subtitle}}

  </fieldset>

  <fieldset class="js-VideoSources">

    {{> videosources}}

  </fieldset>

  <fieldset class="js-PosterImage">

    <legend>Poster Image</legend>

    <div class="form-group">
      <label for="loading" class="control-label">Src</label>
      <input name="loading" data-name="loading" type="text" class="form-control" value="" />
    </div>

  </fieldset>

  {{> formcontrols}}

</form>
