<form id="frm-item-editor" class="form-horizontal js-VideoFullpage" data-id="" action="/editor/page/videofullpage/id/{{id}}" method="post">

  <legend class="title">Video Fullpage</legend>

	{{#item}}

	  {{> fullpage}}

	  <fieldset>

	    {{> title}}

	    {{> plaintext}}

	  </fieldset>

	  <fieldset class="js-VideoSources">

	    <legend>Video Sources</legend>

	    {{> videosources}}

	  </fieldset>

	  <fieldset class="js-PosterImage">

	    <legend>Poster Image</legend>

	    {{> loadingimage}}

	  </fieldset>

	{{/item}}

	{{^item}}

		{{> fullpage}}

	  <fieldset>

	    {{> title}}

	    {{> plaintext}}

	  </fieldset>

	  <fieldset class="js-VideoSources">

	    <legend>Video Sources</legend>

	    {{> videosources}}

	  </fieldset>

	  <fieldset class="js-PosterImage">

	    <legend>Poster Image</legend>

	    {{> loadingimage}}

	  </fieldset>

	{{/item}}

  {{> formcontrols}}

</form>

<script type="text/javascript" src="/js/itemeditor.js">
