<!DOCTYPE html>
<html>
<head>
  <!-- Material Design fonts -->
  <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
  <link rel="stylesheet" type="text/css" href="/css/icon.css" />

  <link rel="stylesheet" type="text/css" href="/css/editor.css" />

  <script src="/tools/jquery/dist/jquery.min.js"></script>
  <script src="/js/editor.js"></script>
  <script src="/js/editornav.js"></script>

</head>
<body>

  <div class="nav-container">
    <h3>Storyboard Editor</h3>

    {{> editornav}}
  </div>

  <div class="message-container">
    {{message}}
  </div>

  <div class="container-fluid main">
    <h3>Item Editor</h3>

    <div class="pages">
      <div class="page js-Load">
        <p>Please select an element from the navigation or create a new Mural element</p>
      </div>
    </div>
  </div>

</body>
</html>
