<!DOCTYPE html>
<html>
<head>
  <!-- Material Design fonts -->
  <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
  <link rel="stylesheet" type="text/css" href="/css/icon.css" />

  <link rel="stylesheet" type="text/css" href="/css/editor.css" />
</head>
<body>
  <div class="toolbar">
    <a href="/editor/download">Download Story</a>
  </div>

  <div class="nav-container">
    <h3>Storyboard Editor</h3>

    {{> editornav}}
    <div>
      <button disabled="disabled" id="reorder-save">Save</button>
    </div>
  </div>

  <div class="message-container">
    {{message}}
  </div>

  <div class="container-fluid main">
    <h3>Item Editor</h3>

    <div class="pages">
      <div id="item-editor" class="page">
        <p>Please select an element from the navigation or create a new Mural element</p>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/tools/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/tools/pouchdb/dist/pouchdb.min.js"></script>
  <script type="text/javascript" src="/tools/sortablejs/Sortable.min.js"></script>
  <script type="text/javascript" src="/js/editor.js"></script>
  <script type="text/javascript" src="/js/editornav.js"></script>
</body>
</html>
