<!DOCTYPE html>
<html>
<head>
  <!-- Material Design fonts -->
  <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
  <link rel="stylesheet" type="text/css" href="/css/icon.css" />
  <!-- bootstrap -->
  <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap-grid.css" />
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap-reboot.css" />
  <!-- jquery -->
  <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
  <!-- easy editor -->
  <script type="text/javascript" src="/node_modules/easyeditor/src/jquery.easyeditor.js"></script>
  <link rel="stylesheet" href="/node_modules/easyeditor/src/easyeditor.css" />
  <!-- load our custom styles last -->
  <link rel="stylesheet" type="text/css" href="/css/editor.css" />
</head>
<body>
  <div class="message-container">
    {{message}}
  </div>
  <!-- TODO: click Storyboard Editor to hide/show nav-contrainer -->
  <h3>Storyboard Editor</h3>
  <div class="nav-container">
    <div>
      <form method="post" action="/editor/add">
        <select name="mediaType">
          <option value="videobackground">Background Video</option>
          <option value="videofullpage">Fullpage Video</option>
          <option value="imageparallax">Image Parallax</option>
          <option value="imageaudio">Image Audio</option>
          <option value="imagebackground">Image Background</option>
          <option value="slideshowvertical">Vertical Slideshow</option>
          <option value="slideshowhorizontal">Horizontal Slideshow</option>
          <option value="textcentred">Centred Text</option>
        </select>
        <button id="add-story-page" type="submit">Add</button>
      </form>
    </div>

    {{> editornav}}
    <div>
      <button disabled="disabled" id="reorder-save">Save Ordering</button>
    </div>
  </div>

  <div class="item-editor-container main">
    <h3>Item Editor</h3>

    <div class="pages">
      <div id="item-editor" class="page">
        <p>Please select an element from the navigation or create a new Mural element</p>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/node_modules/pouchdb/dist/pouchdb.min.js"></script>
  <script type="text/javascript" src="/node_modules/sortablejs/Sortable.min.js"></script>
  <script type="text/javascript" src="/js/editor.js"></script>
  <script type="text/javascript" src="/js/editornav.js"></script>
  <script type="text/javascript" src="/js/dynamic.js"></script>
</body>
</html>
