body {
  padding: 0 20px;
}

.pages > div {
  margin: 0;
}

.form-horizontal .form-group {
  margin: 0;
}

.title {
  color: #fff;
  max-width: 50vw;
  position: absolute;
  top: 14px;
}

legend,
button#save
 {
  user-select: none;
}
