body {
  padding: 0 20px;
}

.pages > div {
  margin: 0;
}

.form-horizontal .form-group {
  margin: 0;
}

legend {
  user-select: none;
}

nav {
  position: absolute;
  right: 10px;
  z-index: 10;
}
