<form class="form-horizontal">
  <fieldset>
    <legend>Meta Information</legend>
    <div class="form-group label-floating">
      <label for="title" class="control-label">Title</label>
      <input id="title" type="text" class="form-control" value="{{#meta}}{{#title}}{{title}}{{/title}}{{/meta}}" />
    </div>
    <div class="form-group label-floating">
      <label for="site_name" class="control-label">Site Name</label>
      <input id="site_name" type="text" class="form-control" value="{{#meta}}{{#site_name}}{{site_name}}{{/site_name}}{{/meta}}" />
    </div>
    <div class="form-group label-floating">
      <label for="site_img" class="control-label">Site Image</label>
      <input id="site_img" type="text" class="form-control" value="{{#meta}}{{#site_img}}{{site_img}}{{/site_img}}{{/meta}}" />
    </div>
    <div class="form-group label-floating">
      <label for="subtitle" class="control-label">Subtitle</label>
      <input id="subtitle" type="text" class="form-control" value="{{#meta}}{{#subtitle}}{{subtitle}}{{/subtitle}}{{/meta}}" />
    </div>
    <div class="form-group label-floating">
      <label for="author" class="control-label">Author</label>
      <input type="text" class="form-control" id="author" value="{{#meta}}{{#author}}{{author}}{{/author}}{{/meta}}" />
    </div>
    <div class="form-group label-floating">
      <label for="keywords" class="control-label">Keywords</label>
      <textarea id="keywords" class="form-control">{{#meta}}{{#keywords}}{{keywords}}{{/keywords}}{{/meta}}</textarea>
    </div>
    <div class="form-group label-floating">
      <label for="rsspingback" class="control-label">RSS Pingback</label>
      <input id="rsspingback" type="text" class="form-control" value="{{#meta}}{{#rsspingback}}{{rsspingback}}{{/rsspingback}}{{/meta}}" />
    </div>
    <div class="form-group label-floating">
      <label for="description" class="control-label">Description</label>
      <textarea id="description" class="form-control">{{#meta}}{{#description}}{{description}}{{/description}}{{/meta}}</textarea>
    </div>
    <div class="form-group label-floating">
      <label for="src" class="control-label">Src</label>
      <input id="src" type="text" class="form-control" value="{{#meta}}{{#src}}{{src}}{{/src}}{{/meta}}" />
    </div>
    <div class="form-group label-floating">
      <label for="rsspingback" class="control-label">RSS Pingback</label>
      <input id="rsspingback" type="text" class="form-control" value="{{#meta}}{{#rsspingback}}{{rsspingback}}{{/rsspingback}}{{/meta}}" />
    </div>
    <!--
    share
    facebook
    twitter
    -->
    <div class="form-group">
      <button type="submit" class="btn btn-default" id="cancel">Cancel</button>
      <button type="submit" class="btn btn-primary" id="save">Save</button>
    </div>
  </fieldset>
</form>
