<form class="form-horizontal">
  <fieldset>
    <legend>Meta Information</legend>

    {{> title}}

    <div class="form-group label-floating">
      <label for="site_name" class="control-label">Site Name</label>
      <input id="site_name" type="text" class="form-control" value="" />
    </div>

    <div class="form-group label-floating">
      <label for="site_img" class="control-label">Site Image</label>
      <input id="site_img" type="text" class="form-control" value="" />
    </div>

    {{> subtitle}}

    <div class="form-group label-floating">
      <label for="author" class="control-label">Author</label>
      <input type="text" class="form-control" id="author" value="" />
    </div>

    <div class="form-group label-floating">
      <label for="keywords" class="control-label">Keywords</label>
      <textarea id="keywords" class="form-control"></textarea>
    </div>

    <div class="form-group label-floating">
      <label for="rsspingback" class="control-label">RSS Pingback</label>
      <input id="rsspingback" type="text" class="form-control" value="" />
    </div>

    <div class="form-group label-floating">
      <label for="description" class="control-label">Description</label>
      <textarea id="description" class="form-control"></textarea>
    </div>

    <div class="form-group label-floating">
      <label for="src" class="control-label">Src</label>
      <input id="src" type="text" class="form-control" value="" />
    </div>

    <div class="form-group label-floating">
      <label for="rsspingback" class="control-label">RSS Pingback</label>
      <input id="rsspingback" type="text" class="form-control" value="" />
    </div>

    <!--
    share
    facebook
    twitter
    -->

    {{> formcontrols}}

  </fieldset>
</form>
