<form class="form-horizontal" data-id="{{id}}">
  <fieldset>
    <legend>Video Background</legend>
    <div class="form-group label-floating">
      <div class="togglebutton">
      <label for="fullpage">
        <input id="fullpage" type="checkbox" class="form-control" checked="{{#format}}{{#fullpage}}checked{{/fullpage}}{{/format}}" />
        <span class="toggle"></span>
        Fullpage
      </label>
      </div>
    </div>
    <div class="form-group label-floating">
      <label for="title" class="control-label">Title</label>
      <input id="title" type="text" class="form-control" value="{{#title}}{{title}}{{/title}}" />
    </div>
    <div class="form-group label-floating">
      <label for="subtitle" class="control-label">Subtitle</label>
      <input id="subtitle" type="text" class="form-control" value="{{#subtitle}}{{subtitle}}{{/subtitle}}" />
    </div>
    <div class="form-group label-floating">
      <label class="control-label">Video SRC</label>
      <input id="mp4" type="text" class="form-control" value="{{#video}}{{#mp4}}{{mp4}}{{/mp4}}{{/video}}" />
      <input id="webm" type="text" class="form-control" value="{{#video}}{{#webm}}{{webm}}{{/webm}}{{/video}}" />
    </div>
    <div class="form-group label-floating">
      <label for="image" class="control-label">Image</label>
      <input id="image" type="text" class="form-control" value="{{#image}}{{#loading}}{{loading}}{{/loading}}{{/image}}" />
    </div>
  </fieldset>
</form>
