<form class="form-horizontal" data-id="{{id}}">
  <fieldset>
    <legend>Video Background</legend>

    <div class="form-group label-floating">
      <div class="togglebutton">
      <label for="fullpage">
        <input id="fullpage" type="checkbox" class="form-control" checked="checked" />
        <span class="toggle"></span>
        Fullpage
      </label>
      </div>
    </div>

    {{> title}}

    {{> subtitle}}

    <div class="form-group label-floating">
      <label class="control-label">Video SRC</label>
      <input id="mp4" type="text" class="form-control" value="" />
      <input id="webm" type="text" class="form-control" value="" />
    </div>

    <div class="form-group label-floating">
      <label for="image" class="control-label">Image</label>
      <input id="image" type="text" class="form-control" value="" />
    </div>

    {{> formcontrols}}

  </fieldset>
</form>
