article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
.mediaelems {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
.supnsup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type='search'] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} /*!
 * Bootstrap v3.3.4 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=1fc4ea53d3b9e4cc2b94)
 * Config saved to config.json and https://gist.github.com/1fc4ea53d3b9e4cc2b94
 */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
[role='button'] {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10px;
  word-wrap: break-word;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}

mark {
  background-color: #fcf8e3;
  padding: 0.2em;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-muted {
  color: #777777;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee;
}
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 6vw;
  padding-right: 6vw;
}
/* this currently is only used by the videobackground element */
.text-bounding-box {
  display: block;
  padding-left: 2vw;
  padding-right: 2vw;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}

body {
  font-family: 'Roboto Slab', arial, serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', arial, serif;
}
a,
button {
  outline: none;
}
body {
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #222;
  color: #fff;
}
iframe {
  max-width: 100% !important;
}
article {
  position: relative;
}
article .part {
  min-height: 100vh;
  position: relative;
}

article .article-wrapper {
  position: relative;
  top: 50vh;
  padding-bottom: 50vh;
}

article .article-wrapper .header-fullpage {
  position: relative;
  top: -50vh;
  margin-bottom: -50vh;
}

article .header {
  font-weight: 200;
  z-index: 2;
  margin-bottom: 2vh;
}
article .header h1 {
  margin: 0;
  font-size: 3em;
  line-height: 1.4em;
}
article .header h2 {
  margin: 0.5em 0 1.5em 0;
  font-size: 1.6em;
  line-height: 1.2em;
  font-style: italic;
}
article .header-fullpage {
  font-weight: 200;
  height: 100vh;
  margin: -10vh 0 0 0;
  display: table;
  width: 100%;
}
article .header-fullpage .middle {
  vertical-align: bottom;
  display: table-cell;
  padding-bottom: 10vw;
}

article .header-fullpage h1 {
  font-size: 2.5em;
  line-height: 1.4em;
  margin-bottom: 10px;
}

article .header-fullpage h2 {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2em;
}

@media (min-width: 475px) {
  article .header-fullpage h1 {
    font-size: 5em;
    line-height: 1.2em;
  }

  article .header-fullpage h2 {
    font-size: 2.2em;
    line-height: 1.2em;
  }
}

article a.nextPart {
  display: inline-block;
  padding: 3px 6px;
  background: #222;
  color: #fff;
}
article a.nextPart:hover {
  color: #7fc8e8;
  text-decoration: none;
}
blockquote {
  border-left: 3px solid #fff;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-size: 1.2em;
  font-weight: 200;
  font-style: italic;
  quotes: '\201C''\201D''\2018''\2019';
}
pre {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  display: block;
  padding: 9.5px;
  margin: 0px 0px 10px;
  font-size: 1em;
  line-height: 1.4em;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
u {
  text-decoration: underline;
}
s {
  text-decoration: line-through;
}

.cms-image {
  width: 282px;
}
@media (min-width: 321px) {
  .cms-image {
    margin: 1em auto;
  }
}

@media (min-width: 768px) {
  .cms-image.left {
    float: left;
    margin: 1em 1.5em 1em 0;
  }

  .cms-image.right {
    float: right;
    margin: 1em 0 1em 1.5em;
  }
}

.cms-image figcaption {
  display: block;
  text-align: left;
  padding: 6px 8px;
  cursor: text;
  font-family: arial, sans-serif;
  font-size: 0.8em;
  overflow: hidden;
  line-height: 1.4em;
}

.cms-image figcaption .photographer {
  display: block;
  font-family: arial, sans-serif;
  font-size: 12px;
  margin-top: 3px;
}

.no_credits .credits {
  display: none;
}
article .part.no_gradient_background.background_gradient {
  display: none;
}
article .part.no_gradient_background .slide_caption {
  background: none;
}
article .part.box_text p {
  background: rgba(0, 0, 0, 0.3);
  display: inline;
}

.longform .menu_open {
  backface-visibility: hidden;
  position: fixed;
  right: 15px;
  top: 5px;
  width: 35px;
  height: 35px;
  outline: 0;
  padding: 0;
  cursor: pointer;
  z-index: 100;
  transition: all 0.3s;
  background: black;
  border: 3px solid black;
  border-radius: 100%;
}

.longform .menu_open .sticks_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.longform .menu_open .sticks_wrapper .stick {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50%;
  width: 100%;
  height: 2px;
  background: #868585;
  transition: all 0.3s;
}
.longform .menu_open .sticks_wrapper .stick.-first {
  margin-top: -6px;
  border-radius: 1px 1px 2px 2px;
}
.longform .menu_open .sticks_wrapper .stick.-second {
  top: 50%;
  border-radius: 2px;
}
.longform .menu_open .sticks_wrapper .stick.-third {
  margin-top: 6px;
  border-radius: 2px 2px 1px 1px;
}
.longform.paneOpen .menu_open .sticks_wrapper .stick.-first {
  margin-top: 0px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.longform.paneOpen .menu_open .sticks_wrapper .stick.-second {
  opacity: 0;
}
.longform.paneOpen .menu_open .sticks_wrapper .stick.-third {
  margin-top: 0px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.longform .nav {
  backface-visibility: hidden;
  transform: translateZ(0);
  position: fixed;
  top: 0;
  bottom: 0px;
  width: 250px;
  background: rgba(51, 51, 51, 0.95);
  z-index: 9999;
  padding: 0px;
  box-shadow: 0 0 3px #000;
  right: -150px;
  height: 100%;
  transition: all 0.3s;
  z-index: 99;
  display: none;
}

.longform .nav ol {
  overflow: auto;
  list-style-type: decimal;
  height: 100%;
}

.longform .nav nav {
  margin: 60px 0 10px;
  height: 90%;
}
.longform .nav nav > ul > li:first-child > a {
  padding-left: 10px;
}
.longform .nav nav ul {
  float: left;
  margin: 0;
  padding: 0;
}
.longform .nav nav ul li:hover ul {
  display: block;
}
.longform .nav nav ul li ul.active {
  display: block !important;
}
.longform .nav nav ul ul {
  display: none;
  position: absolute;
  top: 0px;
  right: 149px;
  width: 215px;
  background: rgba(85, 85, 85, 0.95);
  font-weight: 300;
}
.longform .nav nav ul ul li a {
  padding-left: 20px;
  float: none;
}
.longform .nav nav ul ul li a:hover,
.longform .nav nav ul ul li a.active {
  background: rgba(255, 255, 255, 0.1);
}
.longform .nav nav ul ul figure {
  margin-bottom: 0px;
}
.longform .nav nav ul ul figure a {
  padding: 0px;
}
.longform .nav nav li {
  position: relative;
  line-height: 1.8em;
  width: 100%;
  cursor: pointer;
}
.longform .nav nav li a {
  padding: 5px 10px 5px 0px;
  display: block;
  width: 100%;
  float: left;
}
.longform .nav nav li a:hover {
  background: rgba(85, 85, 85, 0.95);
}
.longform .nav nav li a:hover span {
  background: none;
}
.longform .nav nav a {
  color: #fff;
  background: none;
  text-decoration: none;
  font-size: 14px;
}
.longform .nav nav a span {
  text-align: center;
  text-indent: 0;
  width: 24px;
  color: #999999;
  overflow: hidden;
  padding: 5px 4px;
  float: left;
}
.longform .nav nav a p {
  text-shadow: none;
  float: right;
  width: 110px;
  margin: 5px 0px 0px 5px;
}
.longform .nav nav a:hover {
  color: #fff;
}
.longform .nav nav a.active span {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}
.longform .nav #languages {
  position: absolute;
  right: 30px;
  top: 18px;
}
.longform .nav #languages li {
  display: inline;
}
.longform .chapter-title.coverSlide .title {
  position: absolute;
  bottom: 10%;
}
.longform .chapter-title.coverSlide .title h1 {
  margin-bottom: 25px;
}
.longform .chapter-title.coverSlide .title p {
  font-size: 22px;
}
.longform .chapter-title.coverSlide .continue {
  position: absolute;
  bottom: 5%;
}

.paneOpen .nav {
  right: 0;
  display: block;
}

.no-nav .mute {
  right: 10px;
}

.mute {
  position: fixed;
  right: 55px;
  top: 5px;
  z-index: 100;
  background: url('img/icon-unmuted.png') center center no-repeat
    black;
  background-size: cover;
  display: inline-block;
  text-indent: -1000px;
  overflow: hidden;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 100%;
  border: 3px solid black;
}

.mute.muted {
  background-image: url('img/icon-muted.png');
  background-size: cover;
}

.mobile-mute {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px; /* Negative half of height. */
  margin-left: -40px; /* Negative half of width. */
  background: url('img/icon-unmuted.png') center center no-repeat
    rgba(0, 0, 0, 0.3);
  background-size: cover;
  text-indent: -1000px;
  overflow: hidden;
  width: 80px;
  height: 80px;
  cursor: pointer;
  border-radius: 100%;
  z-index: 11;
}

.mobile-mute.muted {
  background-image: url('img/icon-muted.png');
  background-size: cover;
}

.active .mobile-mute {
  display: inline-block;
  position: fixed;
}

@media (max-width: 767px) {
  .longform .nav nav ul li:hover ul {
    display: none;
  }
}

.sticky-image {
  position: relative;
  overflow: hidden;
}
.sticky-image .bg-image {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  backface-visibility: hidden;
  transform: translateZ(0);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.sticky-image.inviewport.active .bg-image {
  position: fixed;
}
.sticky-image .content {
  position: relative;
  z-index: 10;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.sticky-image .content .text {
  font-size: 1.4em;
  line-height: 1.8em;
  font-weight: 300;
}

.st-video {
  position: relative;
  overflow: hidden;
}
.st-video.inviewport.active .video-container {
  position: fixed;
}
.st-video .video-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
  transform: translateZ(0);
  line-height: 100vh;
  font-size: 0;
}

.st-video .video-container video.portrait {
  position: absolute;
  max-height: 100vh;
}

.st-video .video-container video[poster] {
  object-fit: cover;
  object-position: center;
  width: 100vw;
  height: 100vh;
}
.st-video .content {
  position: relative;
  z-index: 10;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.st-video .content .text {
  font-size: 1.4em;
  line-height: 1.8em;
  font-weight: 300;
  padding: 20px;
}

.st-content-video {
  position: relative;
  overflow: hidden;
}
.st-content-video .video-container {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.st-content-video .video-container video {
  min-width: 100%;
  min-height: 100vh;
}

.st-content-video .video-container video[poster] {
  object-fit: cover;
  height: 100vh;
}

.st-content-video .caption {
  overflow: hidden;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 6vw;
  padding-right: 6vw;
  padding-bottom: 15vh;
  z-index: 10;
  padding-top: 80vh;
  font-size: 1.4em;
}

.st-content-video .caption .button-container {
  width: 70px;
  height: 70px;
  border: none;
  cursor: pointer;
  float: left;
}

.st-content-video .caption .button-container.pause {
  background: transparent url('img/pause.png') center center no-repeat;
}

.st-content-video .caption .button-container.play {
  background: transparent url('img/play.png') center center no-repeat;
}

.st-content-video .caption .text {
  width: 100%;
  padding-left: 100px;
  font-size: 0.9em;
}

.st-content-video .caption .text h3 {
  margin-top: 0;
}

.no-effects {
  overflow: auto;
}

.no-effects .content {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.no-effects .content .text {
  background: none;
  font-size: 1.4em;
  line-height: 1.8em;
}

.slideshow {
  font-family: 'Roboto Slab', arial, serif;
}

.slideshow .bg-image {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  z-index: 1;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slideshow .caption {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 30px 30px 80px 30px;
  font-size: 1.4em;
  z-index: 9999;
}

.slideshow .caption span {
  display: block;
  font-size: 0.6em;
}

.slideshow-horizontal {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-family: 'Roboto Slab', arial, serif;
}

.slideshow-horizontal .slide-caption {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  padding: 80px 30px 50px 30px;
  font-size: 1.4em;
}
.slideshow-horizontal .credits {
  display: block;
  font-size: 0.9em;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  padding: 80px 30px 30px 30px;
}

.slide-container {
  display: none;
}

.parallax {
  height: 100vh;
  overflow: hidden;
}
.parallax .bg-image {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  z-index: 1;
  position: relative;
  top: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.parallax .content {
  position: relative;
  z-index: 3;
  margin-top: -50vh;
  height: 100vh;
}

.blueimp-gallery-carousel {
  margin: 0;
  padding: 0;
  box-shadow: none;
  height: 100vh;
}
.blueimp-gallery > .prev,
.blueimp-gallery > .next {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 70px;
  border: none;
  background: none;
}

article .part.reverse_colors {
  background: #fff;
  color: #222;
}
article .part.reverse_colors blockquote {
  border-color: #222;
}

article .part.text_align-right .header {
  text-align: right;
}
article .part.text_align-right .text {
  float: right;
  text-align: justify;
  text-justify: inter-word;
}

article .part.header_align-right .header-fullpage {
  text-align: right;
}
article .part.header_align-center .header-fullpage {
  text-align: center;
}
article .part.text_align-center .background_gradient {
  display: none;
}
article .part.text_align-center .header {
  text-align: center;
}
article .part.text_align-center .text {
  margin-left: 0;
}
@media (min-width: 768px) {
  article .part.text_align-center .text {
    margin-left: 8.33333333%;
  }
}

@media (min-width: 992px) {
  article .part.text_align-center .text {
    margin-left: 16.66666667%;
  }
}

@media (min-width: 1200px) {
  article .part.text_align-center .text {
    margin-left: 25%;
  }
}

.closing_credits {
  font-size: 12px;
  padding-top: 10vw;
}
article .part.no_gradient_background.background_gradient {
  display: none;
}
article .part.box_text p {
  background: rgba(0, 0, 0, 0.3);
  display: inline;
}

.loading {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 200px 150px 150px auto;
  grid-template-areas:
    '.'
    'logo'
    'storyname'
    'play'
    '.';
  grid-row-gap: 0.3rem;
  background: white;
  position: fixed;
  z-index: 102;
  justify-items: center;
}

.loading .logo {
  grid-area: logo;
  max-height: 250px;
}

.loading .story-name {
  grid-area: storyname;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading .play-start {
  grid-area: play;
  cursor: pointer;
  height: 150px;
}

.frozen {
  overflow: hidden;
}

.opacity-pane {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  z-index: -1;
  opacity: 0.5;
}

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

.text-shadow {
  text-shadow: 2px 2px 4px #000000;
}

.fixed {
  position: fixed !important;
}
